.masthead {
    display: flex;
    justify-content: space-between;
}

#logo_impianti {
    text-decoration: none;
    background-color: white;
    margin: 10pt;
}

.path {
    height: 700px;
    width: 700px;
    position: absolute;
    top: -30%;
    right: -30%;
    background-color: red;
    border-radius: 50%;
    z-index: 0;
    display: none;
}

.informazioni {
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    margin: 5pt;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: inherit;
    color: #001742;
}

.container_masthead {
    justify-content: space-between;
    margin-right: 30pt;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: rubik;
    margin: 0;
}

html {
    overflow-x: hidden;
}
.nav {
    min-height: 500pt;
    background-color: black;
}
.article {
    min-height: 350pt;
}
.clients {
    min-height: 100pt;
}
.form{
    display: flex;
    justify-content: flex-start;
    padding: 100pt 100pt 100pt 100pt;
    background-color: papayawhip;
}
.footer {
    background-color: #001742;
    min-height: 30pt;
}