@font-face {
    font-family: Inter;
    src: url("sources/media/Inter-VariableFont_slnt,wght.ttf");
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}


html {
    overflow-x: hidden;
}

body {
    background-color: #333;
    font-family: Inter;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none !important;
}

.masthead {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#logo_impianti {
    text-decoration: none;
    background-color: white;
    margin: 10pt;
}

.path {
    height: 700px;
    width: 700px;
    position: absolute;
    top: -30%;
    right: -30%;
    background-color: red;
    border-radius: 50%;
    z-index: 0;
    display: none;
}

.informazioni {
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    margin: 5pt;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: inherit;
    color: #001742;
}

.informazioni a {
    text-decoration: none;
    color: inherit;
    font-size: 15pt;
}

.container_masthead {
    justify-content: space-between;
    margin-right: 30pt;
}

.nav {
    min-height: 500pt;
    background-color: white;
}

.smiggle {
    height: 700px;
    width: 700px;
    position: absolute;
    top: 20%;
}

.article {
    min-height: 350pt;
}

.form{
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
    padding: 100pt;
    background-color: #f2f2f2;
}

.form button {
    background-color: #001742;
    width: 10em;
    border-color: white;
}

.form button:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.mb-3 {
    width: 30em;
}

.form_presentation {
    padding: 20pt 20pt;
    display: flex;
    justify-content: flex-start;
}

.form_presentation p{
    font-size: 50pt;
    color: #001742;
    font-weight: bold;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.clients {
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
}

.clients-presentation {
    display: flex;
    justify-content: center;
    padding: 5em 0;
}

.slide_track {
    box-sizing: border-box;
    animation: 25s slide infinite linear;
    display: inline-block;
}

.slide_track img{
    height: 6em;
    margin: 0 3em;
}

.footer {
    display: flex;
    background-color: black;
    padding: 10em 5em 2em 5em;
    flex-direction: column;
}

.link-utili {
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
}
.link-utili a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 20pt;
}

.contatti {
    display: flex;
    margin-top: 30pt;
    justify-content: space-between;
    color: white;
    padding: 0;
}

.small-text {
    display: flex;
    column-gap: 3em;
    margin: 0;
    color: lightslategrey;
    font-size: 10pt;
}

.small-text a {
    color: lightslategrey;
}

.informazioni-legali a{
    color: lightslategrey;
}

.altro {
    display: block;
    color: lightslategrey;
}